<form (ngSubmit)="grabar()" [formGroup]="formData">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Tema</label>
        <input type="text" class="form-control"
          formControlName="txtAgenda" [ngClass]="{'is-invalid': submitted && formData.get('txtAgenda').errors}" >
          <div *ngIf="submitted && formData.get('txtAgenda').errors" class="invalid-feedback">
                    <span *ngIf="formData.get('txtAgenda').errors.required">Tema de agenda es requerido.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Detalle</label>
        <textarea type="text" class="form-control"
          formControlName="txtDetalle" [ngClass]="{'is-invalid': submitted && formData.get('txtDetalle').errors}"></textarea>
        <div *ngIf="submitted && formData.get('txtDetalle').errors" class="invalid-feedback">
                    <span *ngIf="formData.get('txtDetalle').errors.required">Detalle de agenda es requerido.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row"  >
        <div class="modal-footer form-group">
            <div class="">
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</form>
