<!-- <h1> comisiones-list</h1> -->
<div class="container-fluid">
  <app-page-title title="Reporte de Órganos" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="buscar()" [formGroup]="formData">
            <div class="row mb-3">
              <div class="col-md-3">
                    <div class="form-group">
                        <!-- <label class="control-label">Búsqueda por Texto</label> -->
                        <label class="control-label">Nombre del Órgano</label>
                        <input class="form-control form-input" type="text" placeholder="Órgano" formControlName="txtEquipoTrabajo">
                    </div>
                </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="" class="control-label">Motivo:</label>
                  <select  class="form-control form-select"
                    formControlName="ideMotivoEquipoTrabajo">
                    <option value>Seleccionar</option>
                    @for(motivoEquipoTrabajo of motivosEquipoTrabajoStateService.itemsListado();track $index){
                      <option value="{{motivoEquipoTrabajo.ideMotivoEquipoTrabajo}}">{{motivoEquipoTrabajo.txtMotivoEquipoTrabajo}}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="" class="control-label">Órgano:</label>
                  <!-- <select  class="form-control form-select"
                    formControlName="ideTipoEquipoTrabajo">
                    <option value>Seleccionar</option>
                    @for(tipoEquipoTrabajo of tiposEquipoTrabajoStateService.itemsListado();track $index){
                      <option value="{{tipoEquipoTrabajo.ideTipoEquipoTrabajo}}">{{tipoEquipoTrabajo.txtTipoEquipoTrabajo}}</option>
                    }
                  </select> -->
                  <ng-select
                    formControlName="ideTipoEquipoTrabajo"
                    [items]="tiposEquipoTrabajoStateService.items()"
                    bindLabel="txtTipoEquipoTrabajo"
                    bindValue="ideTipoEquipoTrabajo"
                    placeholder="Seleccionar"
                    [searchable]="true"
                    [clearable]="true"
                    [multiple]="false"
                  >
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="" class="control-label">Estado:</label>
                  <select class="form-control form-select"
                    formControlName="ideEstadoComision">
                    <option value="">Seleccionar</option>
                    @for(estadoComision of estadosComisionStateService.itemsListado();track $index){
                      <option value="{{estadoComision.ideEstadoComision}}">{{estadoComision.txtEstadoComision}}</option>
                    }
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="float-start">
                  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="agregar()">Agregar</button> -->
                </div>
                <div class="float-end">
                  <button type="submit" class="btn btn-info">Buscar</button> &nbsp;
                  <button type="button" class="btn btn-success" (click)="descargar()">Descargar </button>

                </div>
              </div><!-- end col-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100">
                <thead>
                  <tr>
                    <th scope="col" style="width: 5% !important;">Id</th>
                    <th scope="col" style="width: 20% !important;">Nombre del Órgano</th>
                    <th scope="col" style="width: 15% !important;">Motivo</th>
                    <th scope="col" style="width: 20% !important;">Órgano</th>
                    <th scope="col" style="width: 10% !important;">Fecha Inicio</th>
                    <th scope="col" style="width: 10% !important;">Fecha Fin</th>
                    <!-- <th scope="col" style="width: 5% !important;">Comision</th> -->
                    <th scope="col" style="width: 10% !important;">Estado</th>
                    <th scope="col" style="width: 5% !important;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  @for(equipoTrabajo of equiposTrabajoFiltrados; track $index){
                  <tr>
                    <!-- <td class="wrap-columna-convenio">Comision</td> -->
                    <td>{{equipoTrabajo.ideEquipoTrabajo}}</td>
                    <td>{{equipoTrabajo.txtEquipoTrabajo}}</td>
                    <td>{{equipoTrabajo.motivoEquipoTrabajo.txtMotivoEquipoTrabajo}}</td>
                    <td>{{equipoTrabajo.tipoEquipoTrabajo.txtTipoEquipoTrabajo}}</td>
                    <td>{{equipoTrabajo.fecInicio | date:'yyyy-MM-dd'}}</td>
                    <td>{{equipoTrabajo.fecFinalizacion | date:'yyyy-MM-dd'}}</td>
                    <!-- <td>{{""}}</td> -->
                    <td>{{equipoTrabajo.estadoComision?.txtEstadoComision}}</td>
                    <td>
                      <div class="dropdown" dropdown placement="bottom-right">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" dropdownToggle aria-expanded="false">
                          Acciones <i class="mdi mdi-chevron-down font-size-14"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                          <li><a href="javascript: void(0);" class="dropdown-item" (click)="ver(equipoTrabajo)"><i
                                class="fas fa-eye text-info me-1"></i>Ver</a></li>
                          <!-- <li><a href="javascript: void(0);" class="dropdown-item" (click)="editar(equipoTrabajo)"><i
                                class="fas fa-pencil-alt text-success me-1"></i>Editar</a></li>
                          <li><a href="javascript: void(0);" class="dropdown-item" (click)="eliminar(equipoTrabajo.ideEquipoTrabajo)"><i
                                class="fas fa-trash-alt text-danger me-1"></i>Eliminar</a></li> -->
                        </ul>
                      </div>
                    </td>
                  </tr>
                }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
