<div class="container-fluid">
    <app-page-title title="Reunion" [flgBotonRegresar]="true" [idePagina]="idePagina" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="formData" (ngSubmit)="grabar()">
            <ng-stepper #cdkStepper  [linear]="true" class="wizard">
              <cdk-step [optional]="false">
                <ng-template cdkStepLabel>
                  <span class="number bx bxs-file-blank fs-2"></span>
                  <span>DATOS DE REUNION</span>
                </ng-template>
                <section>
                  <div class="row mb-3">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Fecha y Hora de Reunion:</label>
                        <input type="datetime-local" class="form-control" placeholder="Ingrese Fecha y Hora de Reunion" autocomplete="off"
                          formControlName="fecReunion" [ngClass]="{'is-invalid': submitted && formData.get('fecReunion').errors}"/>
                          <div *ngIf="submitted && formData.get('fecReunion').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('fecReunion').errors.required">Fecha y Hora de reunion es requerido.</span>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Tipo de Sesion:</label>
                        <select class="form-contro form-select"
                          formControlName="ideTipoSesion" [ngClass]="{'is-invalid': submitted && formData.get('ideTipoSesion').errors}">
                          <option [ngValue]="null">Seleccionar</option>
                         @for(tipoSesion of tiposSesionStateService.items();track $index){
                              <option value="{{tipoSesion.ideTipoSesion}}">{{tipoSesion.txtTipoSesion}}</option>
                            }
                        </select>
                        <div *ngIf="submitted && formData.get('ideTipoSesion').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('ideTipoSesion').errors.required">Tipo de Sesion es requerido.</span>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label">Tema de la Reunion:</label>
                        <!-- <input type="text" class="form-control" autocomplete="off" /> -->
                         <textarea  class="form-control"
                          formControlName="txtTema" placeholder="Ingrese tema de Reunion" [ngClass]="{'is-invalid': submitted && formData.get('txtTema').errors}" ></textarea>
                          <div *ngIf="submitted && formData.get('txtTema').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('txtTema').errors.required">Tema de Reunion es requerido.</span>
                          </div>
                      </div>
                    </div>
                  </div>

                  <app-participantes-list
                    (listChange)="onParticipantesChange($event)">
                  </app-participantes-list>

                  <app-puntos-agenda-list [flagAction]="flagAction"
                    (listChange)="onPuntosAgendaChange($event)">
                  </app-puntos-agenda-list>

                  <app-acuerdos-list [flagTarea]="false"
                    (listChange)="onAcuerdosChange($event)">
                  </app-acuerdos-list>

                  <app-acuerdos-list [flagTarea]="true"
                    (listChange)="onTareasChange($event)">
                  </app-acuerdos-list>

                  <div class="row mb-3" >
                      <div class="col-md-12">
                        <div class="float-start">
                          <button type="submit" class="btn btn-success">Grabar</button>
                        </div>
                      </div>
                  </div>
                </section>
              </cdk-step>
              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number bx bxs-file-blank fs-2"></span>
                  <span>ARCHIVOS</span>
                </ng-template>
                <section>
                  <app-archivos-list
                      [ideTabla]="this.formData.get('ideReunion').value"
                      [txtTabla]="txtTabla"
                      [flagAction]="flagAction"
                   ></app-archivos-list>
                </section>
              </cdk-step>
            </ng-stepper>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

