
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-md-12">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body flex-grow-1">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <h4 class="card-title">Gráfico</h4>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </div>
</div>