
<div class="container-fluid">
    
    <app-page-title title="Lista de Demos" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form (ngSubmit)="buscar()" [formGroup]="formData">
                        
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Demo</label>
                                    <input type="text" class="form-control" formControlName="demo">
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="float-start">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="crear(modalEntidad)">Agregar</button>
                                </div>
                                <div class="float-end">
                                    <button type="submit" class="btn btn-info" >Buscar</button> &nbsp;
                                </div> 
                            </div><!-- end col-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row"> 
						<div class="col-md-12">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 45%;">Nombre del Demo</th>
                                        <th scope="col" style="width: 5%;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(demo of demosFiltrados;track $index){
                                    <tr>
                                        <td>{{demo.demo}}</td>
                                        <td >
                                            <div  class="dropdown" dropdown placement="bottom-right">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" dropdownToggle aria-expanded="false">
                                                    Acciones <i class="mdi mdi-chevron-down font-size-14"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                                                    <li><a href="javascript: void(0);" class="dropdown-item" (click)="editar(modalEntidad,demo)"><i class="fas fa-pencil-alt text-success me-1"></i>Editar</a></li>
                                                    <li><a href="javascript: void(0);" class="dropdown-item" (click)="eliminar(demo.ideDemo)"><i class="fas fa-trash-alt text-danger me-1"></i>Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>}
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<ng-template #modalEntidad role="document" let-modal>
	<div class="modal-header">
        <h5 class="modal-title mt-0">{{tituloModal}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
	</div>
	<div class="modal-body">
		<app-demos-form-modal [modalRef]="modalRef" [demo]="demo" (onSave)="listar()"></app-demos-form-modal>
	</div>
</ng-template>
