<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12">
        <div class="float-start">
          <h5>Puntos de agenda</h5>
        </div>
        <div class="float-end" *ngIf="flagAction != 3">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            (click)="crear()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
<div class="row ">
  <div class="col-md-12">
    <!-- <h4>Puntos de agenda</h4> -->
    <table class="table align-middle table-wrap table-hover dt-responsive wrap w-100">
      <thead>
        <tr>
          <th scope="col" style="width: 25%;">Tema de agenda</th>
          <th scope="col" style="width: 65%;">Detalle</th>
          <th scope="col" style="width: 10%;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of lista; track $index) {
        <tr>
          <td>{{item.txtAgenda}}</td>
          <td>{{item.txtDetalle}}</td>
          <td >
            <div class="dropdown" dropdown placement="bottom-right">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" dropdownToggle
                aria-expanded="false">
                Acciones <i class="mdi mdi-chevron-down font-size-14"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                <li  *ngIf="flagAction != 3"><a href="javascript: void(0);" class="dropdown-item" (click)="editar(item,$index)"><i
                      class="fas fa-pencil-alt text-success me-1"></i>Editar</a></li>
                <li  *ngIf="flagAction != 3"><a href="javascript: void(0);" class="dropdown-item"
                    (click)="eliminar($index)"><i
                      class="fas fa-trash-alt text-danger me-1"></i>Eliminar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
  </div>

</div>

<ng-template #modalEntidad role="document" let-modal>
	<div class="modal-header">
        <h5 class="modal-title mt-0">{{tituloModal}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
	</div>
	<div class="modal-body">
    <app-puntos-agenda-form-modal
      [modalRef]="modalRef" [flagActionLocal]="flagActionLocal"  [puntoAgenda]="puntoAgenda"
      (onSave)="load($event)"
    ></app-puntos-agenda-form-modal>
	</div>
</ng-template>
