<form action="">

  <!-- <h1>Acuerdos form</h1> -->
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Descripcion</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Responsables / Oficina:</label>
        <select  class="form-control form-select">
          <option value="">Seleccionar</option>
          <option value="1">OPPM</option>
          <option value="2">OA</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Responsable:</label>
        <select  class="form-control form-select">
          <option value="">Seleccionar</option>
          <option value="1">Juan perez</option>
          <option value="2">Maria suarez</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Fecha limite de presentacion:</label>
        <input type="date" class="form-control">
      </div>
    </div>
  </div>
  <div class="row"  >
        <div class="modal-footer form-group">
            <div class="">
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</form>
