<form [formGroup]="formData" (ngSubmit)="grabar()">

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Detalle: </label>
        <textarea type="text" class="form-control"
          formControlName="txtAcuerdo" [ngClass]="{'is-invalid': submitted && formData.get('txtAcuerdo')?.invalid}">
        </textarea>
        <div *ngIf="submitted && formData.get('txtAcuerdo').errors" class="invalid-feedback">
          <span *ngIf="formData.get('txtAcuerdo').errors.required">Detalle es requerido.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Responsables / Oficina:</label>
        <!-- <select  class="form-control form-select">
          <option value="">Seleccionar</option>
          <option value="1">OPPM</option>
          <option value="2">OA</option>
        </select> -->
        <ng-select
            [items]="oficinasStateService.items()"
            bindLabel="txtOficina"
            bindValue="ideOficina"
            placeholder="Seleccionar Oficina / Dependencia"
            formControlName="ideOficina"
            [ngClass]="{'is-invalid': submitted && formData.get('ideOficina')?.invalid}"
            [searchable]="true"
            [clearable]="false">
        </ng-select>
        <div *ngIf="submitted && formData.get('ideOficina').errors" class="invalid-feedback">
                    <span *ngIf="formData.get('ideOficina').errors.required">Responsables es requerido.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Responsable:</label>
          <select  class="form-control form-select"
            formControlName="ideIntegrante" [ngClass]="{'is-invalid': submitted && formData.get('ideIntegrante').errors}">
            <option value>Seleccionar</option>
            @for(persona of personasStateService.items();track $index){
                <option value="{{persona.idePersona}}">
                  {{persona.txtNombres}} {{persona.txtApellidos}}
                   {{ persona.txtCargo ? ' (' + persona.txtCargo + ')' : '' }}
                </option>
            }
                <!-- <option value="1">Juan perez</option>
                <option value="2">Maria huaman</option> -->
          </select>
          <div *ngIf="submitted && formData.get('ideIntegrante').errors" class="invalid-feedback">
              <span *ngIf="formData.get('ideIntegrante').errors.required">Colaborador es requerido.</span>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="!flagTarea" class="row mb-3">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Fecha limite de presentacion:</label>
        <input type="date" class="form-control"
          formControlName="fecLimitePresentacion" [ngClass]="{'is-invalid': !flagTarea && submitted && formData.get('fecLimitePresentacion').errors}">
          <div *ngIf="!flagTarea && submitted && formData.get('fecLimitePresentacion').errors" class="invalid-feedback">
              <span *ngIf="formData.get('fecLimitePresentacion').errors.required">Fecha limite de presentacion es requerido.</span>
          </div>
      </div>
    </div>
  </div>
  <div class="row"  >
        <div class="modal-footer form-group">
            <div class="">
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</form>
