<div class="container-fluid">
 <app-page-title title="Seguimiento" [breadcrumbItems]="breadCrumbItems"></app-page-title>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formData" (ngSubmit)="buscar()">
        <div class="row mb-3">
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Comision:</label>
              <!-- <select  class="form-control form-select"
                formControlName="ideEquipoTrabajo" [ngClass]="{'is-invalid': submitted && formData.get('ideEquipoTrabajo').errors}">
                <option value="">Seleccionar</option>
                @for(equipoTrabajo of equiposTrabajoStateService.items();track $index ){
                  <option value="{{equipoTrabajo.ideEquipoTrabajo}}">{{equipoTrabajo.txtEquipoTrabajo}}</option>
                }
              </select> -->
              <ng-select
                    formControlName="ideEquipoTrabajo"
                    [items]="equiposTrabajoStateService.items()"
                    bindLabel="txtEquipoTrabajo"
                    bindValue="ideEquipoTrabajo"
                    placeholder="Seleccionar"
                    [searchable]="true"
                    [clearable]="true"
                    [multiple]="false"
                    >
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span class="wrap-columna"> {{item.txtEquipoTrabajo}} </span>
                    </ng-template>
                  </ng-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Acta de Reunion:</label>
              <ng-select formControlName="ideReunion" [items]="reunionesStateService.items()" bindValue="ideReunion"
                placeholder="Seleccionar" [searchable]="true" [clearable]="true" [multiple]="false">
                <ng-template ng-label-tmp let-item="item">
                  {{ item.txtCodigoActaReunion }} - {{ item.txtAnio }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.txtCodigoActaReunion }} - {{ item.txtAnio }}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Tema principal de Acta:</label>
              <input type="text" class="form-control" placeholder="Tema de Reunion"
                formControlName="txtTemaReunion">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Estado:</label>
              <select  class="form-control form-select"
                formControlName="ideEstadoTiempo">
                <option value="">Seleccionar</option>
                @for(estadoTiempo of estadosTiempoStateService.items();track $index ){
                  <option value="{{estadoTiempo.ideEstadoTiempo}}">{{estadoTiempo.txtEstadoTiempo}}</option>
                }
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="float-start">
              <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Agregar</button> -->
            </div>
            <div class="float-end">
              <button type="submit" class="btn btn-info">Buscar</button> &nbsp;
              <!-- <button type="button" class="btn btn-success" (click)="descargarExcelResumen()">Descargar Resumen Excel</button> -->
              &nbsp;
              <!-- <button type="button" class="btn btn-success" (click)="descargarPdfResumen()">Descargar Resumen Pdf</button> -->
            </div>
          </div><!-- end col-->
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-3">
                <div class="mt-3">
                    <h6 class="mb-2">Leyenda de seguimiento:</h6>
                    <div class="d-flex gap-3 flex-wrap">
                        <span class="badge font-size-11" style="background-color: #34c38f;">Atendido</span>
                        <span class="badge font-size-11" style="background-color: #03A9F4;" title="mayor a 2 dias">Por vencer</span>
                        <span class="badge font-size-11" style="background-color: #FFC107;" title="hasta 2 dias">Proximo a vencer</span>
                        <span class="badge font-size-11"style="background-color: #FF5722;">Vence hoy</span>
                        <span class="badge font-size-11" style="background-color: #F44336;">Vencido</span>
                    </div>
                </div>
            </div>
          <div class="col-md-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table align-middle table-wrap table-hover dt-responsive wrap w-100">
              <thead>
                <tr>
                  <!-- <th scope="col" style="width: 10%;">Id</th> -->
                  <th scope="col" style="width: 10%;">Comite</th>
                  <th scope="col" style="width: 5%;">Acta</th>
                  <th scope="col" style="width: 15%;">Asunto</th>
                  <th scope="col" style="width: 20%;">Acuerdo</th>
                  <th scope="col" style="width: 10%;">Fecha Limite</th>
                  <th scope="col" style="width: 10%;">Oficina Resp.</th>
                  <th scope="col" style="width: 10%;">Responsable</th>
                  <th scope="col" style="width: 5%;">Estado</th>
                  <th scope="col" style="width: 5%;">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- @for(acuerdo of acuerdosFiltrados; track $index){ -->
                <!-- <tr > -->
                <tr *ngFor="let acuerdo of acuerdosFiltrados; let i = index">
                  <!-- <td>{{acuerdo.id}}</td> -->
                  <td>{{acuerdo.txtEquipoTrabajo}}</td>
                  <td>{{acuerdo.txtCodigoActaReunion}}-{{acuerdo.txtAnio}}</td>
                  <td>{{acuerdo.txtTemaReunion}}</td>
                  <td>{{acuerdo.txtAcuerdo}}</td>
                  <td>{{acuerdo.fecLimitePresentacion | date:'yyyy-MM-dd'}}</td>
                  <td>{{acuerdo.txtOficina}}</td>
                  <td>{{acuerdo.txtNombresApellidos}}</td>
                  <td  >

                    @if(acuerdo.estadoAtencion === 'Pendiente'){
                    <span class="badge badge-pill font-size-12" [ngStyle]="{'background-color':acuerdo.estadoTiempo.txtColorHex}">{{acuerdo.estadoTiempo.txtEstadoTiempo}} </span>
                    }@else {
                      <span class="badge badge-pill font-size-12 bg-success" >
                        {{acuerdo.estadoAtencion}}
                      </span>
                    }
                  </td>
                  <td>
                    <div class="dropdown" dropdown placement="bottom-right">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" dropdownToggle
                        aria-expanded="false">
                        Acciones <i class="mdi mdi-chevron-down font-size-14"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                        <!-- @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_PARTICIPANTE','COMISION_ROL_SECRETARIO'].includes(currentRol)){ -->
                        @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_PARTICIPANTE'].includes(currentRol)){
                        <li *ngIf="acuerdo.estadoAtencion === 'Pendiente'"><a href="javascript: void(0);" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            (click)="crear(modalEntidad,acuerdo)"><i class="fas fa-file-alt text-info me-1"></i>Registrar</a>
                        </li>
                        }
                        <!-- @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_PARTICIPANTE','COMISION_ROL_SECRETARIO'].includes(currentRol)){ -->
                        @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_PARTICIPANTE'].includes(currentRol)){
                        <li *ngIf="acuerdo.estadoAtencion === 'Atendido'"><a href="javascript: void(0);" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                           (click)="editar(modalEntidad,acuerdo)">
                          <i class="fas fa-pencil-alt text-success me-1"></i>Editar</a>
                        </li>
                        }
                        <!-- @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_GESTOR','COMISION_ROL_ALTA_DIRECCION'].includes(currentRol)){ -->
                        @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_GESTOR','COMISION_ROL_ALTA_DIRECCION','COMISION_ROL_SECRETARIO',].includes(currentRol)){
                        <li *ngIf="acuerdo.estadoAtencion === 'Atendido'"><a href="javascript: void(0);" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                           (click)="ver(modalEntidad,acuerdo)">
                          <i class="fas fa-eye text-success me-1"></i>Ver</a>
                        </li>
                        }
                        @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_SECRETARIO'].includes(currentRol)){
                        <li *ngIf="acuerdo.estadoAtencion === 'Pendiente'"><a href="javascript: void(0);" class="dropdown-item" (click)="notificar(acuerdo)"
                           ><i class="fas fa-envelope text-warning me-1"></i>Notificar</a>
                        </li>
                        }
                        <!-- @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_PARTICIPANTE','COMISION_ROL_SECRETARIO'].includes(currentRol)){ -->
                        @if(['COMISION_ROL_ADMINISTRADOR','COMISION_ROL_PARTICIPANTE'].includes(currentRol)){
                        <li *ngIf="acuerdo.estadoAtencion === 'Atendido'"><a href="javascript: void(0);" class="dropdown-item" (click)="eliminar(acuerdo)">
                          <i class="fas fa-trash-alt text-danger me-1"></i>Eliminar</a>
                        </li>
                        }
                      </ul>
                    </div>
                  </td>
                </tr>
                <!-- } -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>

<ng-template #modalEntidad role="document" let-modal>
	<div class="modal-header">
        <h5 class="modal-title mt-0">{{tituloModal}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
	</div>
	<div class="modal-body">
     <app-acciones-acuerdo-form-modal
        [modalRef]="modalRef" [flagAction]="flagAction" [acuerdo]="acuerdo" [currentRol]="currentRol" (onSave)="onAccionRegistrada($event)" >
      </app-acciones-acuerdo-form-modal>
	</div>
</ng-template>
