<div class="container-fluid">
  <h3>Lista de Reuniones / Actas</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="formData" (ngSubmit)="buscar()">
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Comision: </label>
                    <select  class="form-control form-select"
                      formControlName="ideEquipoTrabajo">
                      <!-- <option [ngValue]="null">Seleccionar</option> -->
                      <option value>Seleccionar</option>
                      @for(equipoTrabajo of equiposTrabajoStateService.items();track $index ){
                        <option value="{{equipoTrabajo.ideEquipoTrabajo}}">{{equipoTrabajo.txtEquipoTrabajo}}</option>
                      }
                    </select>

                    <!-- <ng-select
                    formControlName="ideEquipoTrabajo"
                    [items]="equiposTrabajoStateService.items()"
                    bindLabel="txtEquipoTrabajo"
                    bindValue="ideEquipoTrabajo"
                    placeholder="Seleccionar"
                    [searchable]="true"
                    [clearable]="true"
                    [multiple]="true"
                    >
                  </ng-select> -->
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="float-start">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                      (click)="agregar()">Agregar</button>
                  </div>
                  <div class="float-end">
                    <button type="submit" class="btn btn-info">Buscar</button> &nbsp;
                    <!-- <button type="button" class="btn btn-success" (click)="descargarExcelResumen()">Descargar Resumen Excel</button> -->
                    &nbsp;
                    <!-- <button type="button" class="btn btn-success" (click)="descargarPdfResumen()">Descargar Resumen Pdf</button> -->
                  </div>
                </div><!-- end col-->
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table align-middle table-wrap table-hover dt-responsive wrap w-100" >
                <thead>
                  <tr>
                    <th scope="col" style="width: 5%;">Id</th>
                    <th scope="col" style="width: 20%;">Comision</th>
                    <th scope="col" style="width: 15%;">Nro Acta</th>
                    <th scope="col" style="width: 20%;">Asunto general del Acta</th>
                    <th scope="col" style="width: 15%;">Tipo Sesion </th>
                    <th scope="col" style="width: 10%;">Fecha y Hora </th>
                    <th scope="col" style="width: 15%;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  @for(reunion of reunionesFiltrados; track $index){
                  <tr>
                    <td>{{reunion.ideReunion}}</td>
                    <td>{{reunion.txtEquipoTrabajo}}</td>
                    <td>{{reunion.txtCodigoActaReunion}}</td>
                    <td>{{reunion.txtTemaReunion}}</td>
                    <td>{{reunion.txtTipoSesion}}</td>
                    <td>{{reunion.fecReunion | date:'yyyy-MM-dd  HH:mm'}}</td>
                    <td><div class="dropdown" dropdown placement="bottom-right">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" dropdownToggle aria-expanded="false">
                          Acciones <i class="mdi mdi-chevron-down font-size-14"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                          <li><a href="javascript: void(0);" class="dropdown-item" (click)="editar(reunion)"><i
                                class="fas fa-pencil-alt text-success me-1"></i>Editar</a></li>
                          <li><a href="javascript: void(0);" class="dropdown-item" (click)="descargarActa(reunion)"><i
                                class="fas fa-file-alt text-info me-1"></i>Descargar</a></li>
                          <li><a href="javascript: void(0);" class="dropdown-item" (click)="eliminar(reunion.ideReunion)"><i
                                class="fas fa-trash-alt text-danger me-1"></i>Eliminar</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
