<!-- <h1> comisiones-form</h1> -->
<div class="container-fluid">
  <!-- <app-page-title></app-page-title> -->
   <div class="row">
    <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="grabar()" [formGroup]="formData">
              <!-- stepper -->
              <ng-stepper #cdkStepper [linear]="true" class="wizard">
                <cdk-step [optional]="false">
                  <ng-template cdkStepLabel>
                    <span class="number bx bxs-file-blank fs-2"></span>
                    <span>DATOS DE COMISION</span>
                  </ng-template>
                  <section>
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="" class="control-label">Nombre de Comision</label>
                          <input type="text" class="form-control" placeholder="Ingrese nombre de la comision" autocomplete="off"
                            formControlName="txtEquipoTrabajo" [ngClass]="{'is-invalid': submitted && formData.get('txtEquipoTrabajo').errors}" >
                          <div *ngIf="submitted && formData.get('txtEquipoTrabajo').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('txtEquipoTrabajo').errors.required" >Nombre de comision es requerido</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="" class="control-label">Tipo de Comision</label>
                          <select class="form-control form-select"
                            formControlName="ideTipoEquipoTrabajo" [ngClass]="{'is-invalid': submitted && formData.get('ideTipoEquipoTrabajo').errors}" >
                            <option [ngValue]="null">Seleccionar</option>
                            @for(tipoEquipoTrabajo of tiposEquipoTrabajoStateService.items();track $index){
                              <option value="{{tipoEquipoTrabajo.ideTipoEquipoTrabajo}}">{{tipoEquipoTrabajo.txtTipoEquipoTrabajo}}</option>
                            }
                          </select>
                          <div *ngIf="submitted && formData.get('ideTipoEquipoTrabajo').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('ideTipoEquipoTrabajo').errors.required">Tipo de comision es requerido</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="" class="control-label">Motivo de la comision</label>
                          <select  class="form-control form-select"
                            formControlName="ideMotivoEquipoTrabajo" [ngClass]="{'is-invalid': submitted && formData.get('ideMotivoEquipoTrabajo').errors}" >
                            <option [ngValue]="null">Seleccionar</option>
                            @for(motivoEquipoTrabajo of motivosEquipoTrabajoStateService.items();track $index){
                              <option value="{{motivoEquipoTrabajo.ideMotivoEquipoTrabajo}}">{{motivoEquipoTrabajo.txtMotivoEquipoTrabajo}}</option>
                            }
                            <!-- <option value="2">Permanente</option> -->
                          </select>
                          <div *ngIf="submitted && formData.get('ideMotivoEquipoTrabajo').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('ideMotivoEquipoTrabajo').errors.required">Motivo de la comision es requerido</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="" class="control-label">Estado de la comision</label>
                          <select  class="form-control form-select"
                            formControlName="ideEstadoTrazabilidad" [ngClass]="{'is-invalid': submitted && formData.get('ideEstadoTrazabilidad').errors}">
                            <option [ngValue]="null">Seleccionar</option>
                            @for(estadoTrazabilidad of estadosTrazabilidadStateService.items(); track $index){
                              <option value="{{estadoTrazabilidad.ideEstadoTrazabilidad}}">{{estadoTrazabilidad.txtEstadoTrazabilidad}}</option>
                            }
                          </select>
                          <div *ngIf="submitted && formData.get('ideEstadoTrazabilidad').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('ideEstadoTrazabilidad').errors.required">Estado de la comision es requerido</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="" class="control-label">Objetivos de la comision:</label>
                          <textarea class="form-control" placeholder="Ingrese objetivos de la comision" autocomplete="off"
                            formControlName="txtObjetivosEquipoTrabajo" [ngClass]="{'is-invalid': submitted && formData.get('txtObjetivosEquipoTrabajo').errors}"></textarea>
                          <div *ngIf="submitted && formData.get('txtObjetivosEquipoTrabajo').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('txtObjetivosEquipoTrabajo').errors.required">Objetivos de la comision es requerido</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="control-label">Fecha Suscripción:</label>
                          <input class="form-control" placeholder="Ingrese Fecha Suscripción" type="date" autocomplete="off"
                            formControlName="fecSuscripcion" [ngClass]="{'is-invalid': submitted && formData.get('fecSuscripcion').errors}"/>
                          <div *ngIf="submitted && formData.get('fecSuscripcion').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('fecSuscripcion').errors.required">Fecha Suscripción es requerido.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="control-label">Fecha Inicio:</label>
                          <input class="form-control" placeholder="Ingrese Fecha Inicio" type="date" autocomplete="off"
                            formControlName="fecInicio" [ngClass]="{'is-invalid': submitted && formData.get('fecInicio').errors}"/>
                          <div *ngIf="submitted && formData.get('fecInicio').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('fecInicio').errors.required">Fecha Inicio es requerido.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="control-label">Fecha Fin:</label>
                          <input class="form-control" placeholder="Ingrese Fecha Fin" type="date" autocomplete="off"
                            formControlName="fecFinalizacion" [ngClass]="{'is-invalid': submitted && formData.get('fecFinalizacion').errors}"/>
                          <div *ngIf="submitted && formData.get('fecFinalizacion').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('fecFinalizacion').errors.required">Fecha Fin es requerido.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="control-label">Duración de la comision:</label>
                          <input class="form-control" placeholder="Ingrese Duración del convenio" type="text" autocomplete="off"
                            formControlName="txtDuracionComite" [ngClass]="{'is-invalid': submitted && formData.get('txtDuracionComite').errors}"/>
                          <div *ngIf="submitted && formData.get('txtDuracionComite').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('txtDuracionComite').errors.required">Duración del convenio es requerido.</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label required-label">Adjuntar archivo </label>
                          <div class="custom-file-container">
                            <input class="form-control" type="file" id="fileInput" hidden>
                            <!-- <button type="button" class="btn btn-success" ><i class="fas fa-download me-1"></i></button> -->
                            <button type="button" class="btn btn-danger">Seleccionar archivo</button>

                            <span class="file-name">{{ 'Ningún archivo seleccionado'
                              }}</span>
                            <div class="invalid-feedback">
                              <span>El archivo es requerido.</span>
                              <span>El archivo debe ser formato PDF.</span>
                              <span>El archivo debe tener un tamaño entre 0 y
                                {{"XXXX"}} MB.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>
                    <div class="row mb-3">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="control-label">Fecha de Inicio Renovación:</label>
                          <input class="form-control" placeholder="Ingrese Fecha de Inicio Renovación" type="date" autocomplete="off"
                            formControlName="fecInicioRenovacion" [ngClass]="{'is-invalid': submitted && formData.get('fecInicioRenovacion').errors}"/>
                          <div *ngIf="submitted && formData.get('fecInicioRenovacion').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('fecInicioRenovacion').errors.required">Fecha de Inicio Renovación es requerido.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="control-label">Fecha de Finalización Renovación:</label>
                          <input class="form-control" placeholder="Ingrese Fecha de Finalización Renovación" type="date" autocomplete="off"
                            formControlName="fecFinRenovacion" [ngClass]="{'is-invalid': submitted && formData.get('fecFinRenovacion').errors}"/>
                          <div *ngIf="submitted && formData.get('fecFinRenovacion').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('fecFinRenovacion').errors.required">Fecha de Finalización Renovación es requerido.</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label">Observación:</label>
                          <textarea class="form-control" placeholder="Ingrese Observación" autocomplete="off"
                            formControlName="txtObservacion" [ngClass]="{'is-invalid': submitted && formData.get('txtObservacion').errors}"></textarea>
                          <div *ngIf="submitted && formData.get('txtObservacion').errors" class="invalid-feedback">
                            <span *ngIf="formData.get('txtObservacion').errors.required">Observación es requerido.</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                        <div class="float-start">
                          <button type="submit" class="btn btn-success">Grabar</button>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row mb-3">
                                              <div class="col-md-12">
                                                <div class="form-group">

                                                  </div>
                                              </div>
                                            </div> -->
                  </section>
                </cdk-step>
                <cdk-step [optional]="true">
                  <ng-template cdkStepLabel>
                    <span class="number bx bxs-user-detail fs-2"></span>
                    <span>INTEGRANTES</span>
                  </ng-template>
                  <section>
                     <app-integrantes-list></app-integrantes-list>
                  </section>
                </cdk-step>
                <cdk-step [optional]="true">
                  <ng-template cdkStepLabel>
                    <span class="number bx bxs-cloud-upload fs-2"></span>
                    <span>ADJUNTAR ARCHIVOS</span>
                  </ng-template>
                  <section>
                    <app-archivos-list ></app-archivos-list>
                  </section>
                </cdk-step>
              </ng-stepper>
            </form>
          </div>
        </div>
    </div>
   </div>
</div>
